<div class="container-fluid">
  <div class="card-content">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="purple">
        <i class="material-icons">assignment</i>
      </div>
      <div class="card-content">
        <h4 class="card-title">Camera Order Invoice</h4>
        <div class="toolbar">
          <!--        Here you can write extra buttons/actions for the toolbar              -->
        </div>
        <div style="margin-left: 30px">

          <div style="display:flex;">
            <h3 style="width:75%">Invoice header :</h3>
            <button type="button" class="btn btn-info" ng-click="printInvoice()">
              <i class="material-icons">print</i>
              Print Invoice
            </button>
          </div>

          <div class="row">
            <div class="col-md-6" style="display:flex">
              <label class="label-on-right" style="margin-top: 18px; width: 100px">Title : </label>
              <div style="width: 300px">
                <div class="form-group label-floating">
                  <label class="control-label"></label>
                  <input ng-model="invoice.title" class="form-control" type="text" />
                </div>
              </div>
            </div>

            <div class="col-md-6" style="display:flex">
              <label class="label-on-right" style="margin-top: 18px; width: 100px">Reference : </label>
              <div style="width: 300px">
                <div class="form-group label-floating">
                  <label class="control-label"></label>
                  <input ng-model="invoice.reference" class="form-control" type="text" />
                </div>
              </div>
            </div>
          </div>

          <br>
          <h3>Company and customer informations :</h3>

          <div class="row">
            <div class="col-md-6" style="display:flex">
              <label class="label-on-right" style="margin-top: 18px; width: 100px">From : </label>
              <div style="width: 300px">
                <div class="form-group label-floating">
                  <label class="control-label"></label>
                  <input ng-model="invoice.company.from" class="form-control" type="text" />
                </div>
              </div>
            </div>

            <div class="col-md-6" style="display:flex">
              <label class="label-on-right" style="margin-top: 18px; width: 100px">To : </label>
              <div style="width: 300px">
                <div class="form-group label-floating">
                  <label class="control-label"></label>
                  <input ng-model="invoice.customer.to" class="form-control" type="text" />
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6" style="display:flex">
              <label class="label-on-right" style="margin-top: 18px; width: 100px">Mobile : </label>
              <div style="width: 300px">
                <div class="form-group label-floating">
                  <label class="control-label"></label>
                  <input ng-model="invoice.company.mobile" class="form-control" type="text" />
                </div>
              </div>
            </div>

            <div class="col-md-6" style="display:flex">
              <label class="label-on-right" style="margin-top: 18px; width: 100px">Mobile : </label>
              <div style="width: 300px">
                <div class="form-group label-floating">
                  <label class="control-label"></label>
                  <input ng-model="invoice.customer.mobile" class="form-control" type="text" />
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6" style="display:flex">
              <label class="label-on-right" style="margin-top: 18px; width: 100px">Date : </label>
              <div style="width: 300px">
                <div class="form-group label-floating">
                  <label class="control-label"></label>
                  <input ng-model="invoice.company.date" class="form-control" type="text" />
                </div>
              </div>
            </div>

            <div class="col-md-6" style="display:flex">
              <label class="label-on-right" style="margin-top: 18px; width: 100px">Date : </label>
              <div style="width: 300px">
                <div class="form-group label-floating">
                  <label class="control-label"></label>
                  <input ng-model="invoice.customer.date" class="form-control" type="text" />
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6" style="display:flex">
              <label class="label-on-right" style="margin-top: 18px; width: 100px">Email : </label>
              <div style="width: 300px">
                <div class="form-group label-floating">
                  <label class="control-label"></label>
                  <input ng-model="invoice.company.email" class="form-control" type="text" />
                </div>
              </div>
            </div>

            <div class="col-md-6" style="display:flex">
              <label class="label-on-right" style="margin-top: 18px; width: 100px">Email : </label>
              <div style="width: 300px">
                <div class="form-group label-floating">
                  <label class="control-label"></label>
                  <input ng-model="invoice.customer.email" class="form-control" type="text" />
                </div>
              </div>
            </div>
          </div>


          <br>
          <div style="display:flex;">
            <h3 style="width:75%">Products :</h3>
            <button type="button" class="btn btn-success btn-sm" style="height:30px; margin-top:20px"
              ng-click="addNewItem()">
              <i class="fa fa-plus"></i>
              Add new item
            </button>
          </div>

          <div ng-repeat="item in invoice.items track by $index">

            <div style="display:flex; margin-bottom: -5px;">
              <h5 style="font-weight:500; width: 72%">Item {{$index + 1 }}</h5>
              <button ng-if="$index != 0" class="btn btn-primary btn-round btn-fab btn-fab-mini btn-danger"
                ng-click="deleteItem($index)">
                <i class="material-icons">delete</i>
              </button>
            </div>

            <div class="row">
              <div class="col-md-12" style="display:flex">
                <label class="label-on-right" style="margin-top: 18px; width: 100px">Description : </label>
                <div style="width: 870px">
                  <div class="form-group label-floating">
                    <label class="control-label"></label>
                    <input ng-model="item.description" class="form-control" type="text" />
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6" style="display:flex">
                <label class="label-on-right" style="margin-top: 18px; width: 100px">Unit price : </label>
                <div style="width: 300px">
                  <div class="form-group label-floating">
                    <label class="control-label"></label>
                    <input ng-model="item.unitPrice" class="form-control" type="number" />
                  </div>
                </div>
              </div>

              <div class="col-md-6" style="display:flex">
                <label class="label-on-right" style="margin-top: 18px; width: 100px">Quantity : </label>
                <div style="width: 300px">
                  <div class="form-group label-floating">
                    <label class="control-label"></label>
                    <input ng-model="item.quantity" class="form-control" type="number" />
                  </div>
                </div>
              </div>
            </div>

          </div>


          <br>
          <div style="display:flex;">
            <h3 style="width:75%">Terms and conditions :</h3>
            <button type="button" class="btn btn-success btn-sm" style="height:30px; margin-top:20px"
              ng-click="addNewTerm()">
              <i class="fa fa-plus"></i>
              Add new term
            </button>
          </div>

          <div ng-repeat="item in invoice.terms track by $index">
            <div class="row">
              <div class="col-md-12" style="display:flex">
                <label class="label-on-right" style="margin-top: 18px; width: 100px">Clause {{$index + 1}} : </label>
                <div style="width: 820px">
                  <div class="form-group label-floating">
                    <label class="control-label"></label>
                    <input ng-model="item" class="form-control" type="text" />
                  </div>
                </div>
                <div style="margin-left: 15px; margin-top: 20px">
                    <button ng-if="$index != 0" class="btn btn-primary btn-round btn-fab btn-fab-mini btn-danger"
                    ng-click="deleteTerm($index)">
                    <i class="material-icons">delete</i>
                  </button>
                </div>
              </div>
            </div>
          </div>

        </div>

        <br>

      </div>
    </div>
    <!-- end content-->
  </div>
</div>
</div>
