<div class="container-fluid">
  <div class="card-content">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="purple">
        <i class="material-icons">assignment</i>
      </div>
      <div class="card-content">
        <h4 class="card-title">{{'Messages of ' + driver.firstName + ' ' + driver.lastName}}</h4>
        <div class="toolbar">
          <!--        Here you can write extra buttons/actions for the toolbar              -->
        </div>
        <div>

          <div class="row" style="display: flex; justify-content: flex-end; margin-right: 7px">
            <button class="btn btn-primary btn-default" ng-click="sendMessage()">
              <span class="btn-label">
                <i class="material-icons">message</i>
              </span>
              Send Message
            </button>
          </div>

          <div ng-if="messages" ui-grid="gridOptions" style="height: calc(93vh - 160px);"></div>

        </div>
      </div>
      <!-- end content-->
    </div>
  </div>
</div>