<div class="container-fluid">
  <div class="card-content">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="purple">
        <i class="material-icons">assignment</i>
      </div>
      <div class="card-content">
        <h4 class="card-title">Print driver documents</h4>
        <div class="toolbar">
          <!--        Here you can write extra buttons/actions for the toolbar              -->
        </div>
        <div>


          <div style="text-align: center;">
            <h3>
              {{driver.firstName + ' ' + driver.lastName}}
            </h3>
          </div>

          <br>

          <div class="row" style="text-align: center;">
            <button type="button" class="btn btn-info" ng-click="print('ohda')">
              <i class="fa fa-file-text"></i>
              تعهد إستلام عهدة
            </button>
          </div>

          <div class="row" style="text-align: center;">
            <button type="button" class="btn btn-info" ng-click="print('sanad')">
              <i class="fa fa-file-text"></i>
              سند لأمر
            </button>
          </div>

          <div class="row" style="text-align: center;">
            <button type="button" class="btn btn-info" ng-click="print('aqd')">
              <i class="fa fa-file-text"></i>
              عقد مقدم خدمة توصيل طلبات
            </button>
          </div>

          <div class="row" style="text-align: center;">
            <button type="button" class="btn btn-info" ng-click="print('estimara')">
              <i class="fa fa-file-text"></i>
              معلومات السائق
            </button>
          </div>


        </div>

      </div>
    </div>
    <!-- end content-->
  </div>
</div>
</div>


<!-- display: none; -->
<div style="display: none;" id="ohda">
  <div style="direction: rtl;">
    <br>
    <br>
    <p>
      <center><b><u>
            <h3>تعهد إستلام عهدة</h3>
          </u></b></center>
      <p>
        تاريخ الإنشاء: {{today | date:'dd-MM-yyyy'}}
        <p>

          أتعهد أنا المدعو: <b>{{driver.firstName + ' ' + driver.lastName}} </b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; الجنسية:
          <b>{{driver.nationality}}</b>
          <p>
            هوية رقم {{driver.captainIdentityNumber}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; وتاريخها {{driver.identityDate |
              date:'dd-MM-yyyy'}}
            <p>
              المرشح لوظيفة (مندوب توصيل طلبات)حيث أن طبيعة عملي تستلزم عهدة تحت يدي (حافظه تحفظ
              الحرارة/حافظة تحفظ البرودة)
              <p>
                أتعهد بأني مسؤول مسئولية كاملة عن الحافظة والمبالغ والبضاعة التى تسلم إلي بسبب عملي.
                <p>
                  كما أتعهد بأنه فى حالة فقد أو إختلاس أو وجود عجز في عهدتى أكون مسؤول مسئولية
                  جنائية ويحق للشركة أن تتخذ ضدي من الاجراءات ما تحافظ به على حقوقها.
                  <p>
                    <input type="checkbox" ng-if="driver.hasBoxHot" checked>
                    <input type="checkbox" ng-if="!driver.hasBoxHot">
                    حافظة حرارة. <br>

                    <input type="checkbox" ng-if="driver.hasBoxCold" checked>
                    <input type="checkbox" ng-if="!driver.hasBoxCold">
                    حافظة برودة. <br>

                    <input type="checkbox" ng-if="driver.hasTShirt" checked>
                    <input type="checkbox" ng-if="!driver.hasTShirt">
                    تيشرت <br>

                    <input type="checkbox" ng-if="driver.wire" checked>
                    <input type="checkbox" ng-if="!driver.wire">
                    سلك <br>

                    <br><br>
                    <table border="0" width="100%">
                      <tr>
                        <td width="50%">
                          <h4>الاسم: ______________________ </h4>
                        </td>
                        <td>
                          <h4>البصمة: </h4>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4>التوقيع: _______________ </h4><br><br>
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>
                          <h4 style="text-align: left;"></h4>مسؤول العهد الأستاذ / __________________
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 style="text-align: left;"></h4>رقم ملف: {{driver.captainId}}
                        </td>
                        <td>
                          <h4 style="text-align: left;"></h4>التوقيع: / __________________
                        </td>
                      </tr>
                    </table>
                  </p>
                </p>
              </p>
            </p>
          </p>
        </p>
      </p>
    </p>
  </div>
</div>

<div style="display: none;" id="sanad">
  <div style="direction: rtl;">
    <br>
    <br>
    <p>
      <center><b><u>
            <h3>سند لأمر</h3>
          </u></b></center>
      <p>
        <span style="text-align: left;"> <b><u>
              <h4>رقم السند : </h4>
            </u></b></span>

        <p>
          تاريخ الإنشاء : {{today | date:'dd-MM-yyyy'}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; مكان الإنشاء : مدينة
          <b><u>{{driver.branch}}</u></b>
          <p>
            أتعهد بأن أدفع بموجب هذا السند لأمر : مؤسسة الجري المتواصل للتجارة
            <p>مبلغآ وقدره (3500) ريال سعودي فقط في مدينة الخبر
              ميعاد الاستحقاق بتاريخ &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;14ه

              <p>اسم (المدين) : <b>{{driver.firstName + ' ' + driver.lastName}}</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                الجنسية :
                <b>{{driver.nationality}}</b>
                <p>
                  بموجب (بطاقة أحوال – إقامة) رقم : {{driver.captainIdentityNumber}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  وتاريخها {{driver.identityDate | date:'dd-MM-yyyy'}}
                  <p>عنوان المدين : جهة العمل
                    <p>رقم الآيبان المصرفي : {{driver.iban}}
                      <p>اسم المصرف : {{driver.bankName}}
                        <p>جوال : {{driver.phoneNumber}}
                          <p>
                            توقيع (المدين) : ................................................
                            <p>
                              هذا السند لأمر واجب الدفع بموجب نظام الأوراق التجارية المتوج بالمرسوم الملكي الكريم رقم
                              (37) في 11/10/1383ه.
                              <p>
                                لحامل هذا السند حق الرجوع بلا مصروفات دون حاجة للإنذار او احتجاج بعدم الدفع.
                              </p>
                              <h4 style="text-align: left;"></h4>رقم ملف : / {{driver.captainId}}
                            </p>
                          </p>
                        </p>
                      </p>
                    </p>
                  </p>
                </p>
              </p>
            </p>
          </p>
        </p>
      </p>
    </p>
  </div>
</div>

<div style="display: none;" id="aqd">
  <div style="direction: rtl;">
    <br>
    <br>

    <p>
      <center><b><u>
            <h3>عقد مقدم خدمة توصيل طلبات Delivery Contract</h3>
          </u></b></center>
      <p>
        <br>

        <center>
          <table border="1" cellspacing="0" cellpadding="2">
            <tr>
              <td>
                الاسم Name
              </td>
              <td>
                رقم الهوية / ID
              </td>
              <td>
                الجوال / MOBAIL
              </td>
            </tr>
            <tr>
              <td>
                {{driver.firstName + ' ' + driver.lastName}}
              </td>
              <td>
                {{driver.captainIdentityNumber}}
              </td>
              <td>
                {{driver.phoneNumber}}
              </td>
            </tr>
          </table>
          <br>
          <table border="1" cellspacing="0" cellpadding="2">
            <tr>
              <td>
                نوع العقد / TYPE OF ONTRACT
              </td>
              <td>
                تاريخ المباشرة / START DATE
              </td>
            </tr>
            <tr>
              <td>
                بالطلب
              </td>
              <td>
                {{driver.createdAt | date:'dd-MM-yyyy'}}
              </td>
            </tr>
          </table>
          <br>

        </center>
        <p>
          شريكنا منفذ الطلبات على كاريدج بتوقيعك على هذا العقد قد التزمت معنا بسداد المبالغ المترتبة عليك علماً بان
          التحصيل للمبالغ سيكون شبه يومي حتى لا يتعرض حسابكم للإيقاف.
          علماً بأن هذا العقد بدون أي مبالغ مقابل العقد الوظيفي ولا يوجد حتى اشتراك شهري لتقديمك الخدمة بل انه لكل طلب
          منفذ مبلغ 15 ريال يكون هو اجر توصيلك للطلب الواحد.
          <p>
            <br>

            <center>
              <table border="1" cellspacing="0" cellpadding="2">
                <tr>
                  <td width="50%">
                    الطرف الأول / FIRST PART
                  </td>
                  <td>
                    الطرف الثاني / SECOND PART
                  </td>
                </tr>
                <tr>
                  <td>
                    <center>
                      منفذ التشغيل <br>
                      مؤسسة الجري المتواصل للتجارة <br>
                    </center>
                    يمثلها السيد / ________________ <br>
                    التوقيع / ______________ <br> <br><br>
                  </td>
                  <td>
                    الاسم / ________________ <br>
                    التوقيع / ______________ <br>
                  </td>
                </tr>
              </table>
            </center>
          </p>
        </p>
      </p>
    </p>
  </div>
</div>

<div style="display: none;" id="estimara">
  <style>
    @page {
      size: A4;
      margin: 0;
    }

    @media print {
      #prr {
        width: 210mm;
        height: 295mm;
      }
    }
  </style>
  <div style="direction: rtl;" id="prr">
    <br>
    <br>
    <p>
      <center><b><u>
            <h2>معلومات السائق</h2>
          </u></b></center>
      <br>

      <div style="margin-right: 20px">
        <p>
          الإسم:
          ...............................................................................................................................................................
          :Name
        </p>
        <p>
          تاريخ الميلاد:
          .................................................................................................................................................
          :Birthday
        </p>
        <p>
          رقم الإثبات:
          .....................................................................................................................................
          :Number of proof
        </p>
        <p>
          الإيميل:
          ..............................................................................................................................................................
          :Email
        </p>
      </div>
    </p>

    <br>
    <br>
    <p>
      <center><b><u>
            <h2>معلومات السكن</h2>
          </u></b></center>
      <div style="margin-right: 20px">
        <br>

        <p>
          المدينة:
          ...............................................................................................................................................................
          :City
        </p>
        <p>
          الحي:
          .............................................................................................................................................................
          :Street 1
        </p>
        <p>
          الشارع:
          ..........................................................................................................................................................
          :Street 2
        </p>
        <p>
          تقاطع:
          ...............................................................................................................................................................
          :Cross
        </p>
        <p>
          معلم بارز:
          .....................................................................................................................................
          :Prominent teacher
        </p>
      </div>
    </p>

    <br>
    <br>
    <p>
      <center><b><u>
            <h2>معلومات مهمة</h2>
          </u></b></center>
      <div style="margin-right: 20px">
        <br>

        <p>
          أقرب شخص إليك:
          ............................................................................................................................
          :Trusted person
        </p>
        <p>
          صلة القرابة:
          ................................................................................................................................................
          :Relation
        </p>
        <p>
          رقم الهاتف:
          .......................................................................................................................................
          :Phone number
        </p>
      </div>
    </p>
  </div>
</div>