<div class="container-fluid">
  <div class="card-content">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="purple">
        <i class="material-icons">assignment</i>
      </div>
      <div class="card-content">
        <h4 class="card-title">Import Transactions</h4>
        <div class="toolbar">
          <!--        Here you can write extra buttons/actions for the toolbar              -->
        </div>
        <div>

          <br>
          <div class="row" style="text-align: center;">
            <button class="btn btn-round btn-lm btn-default" type="file" ngf-select ng-model="file" ngf-multiple="false"
              ngf-accept="'.csv'" ngf-change="upload(file)">
              <i class="material-icons">cloud_upload</i> Select File
            </button>

            <label>{{fileLocalName}}</label>

          </div>

          <br>

          <div class="row" style="text-align: center;">
            <button type="button" class="btn btn-info" ng-click="importFile()">
              <i class="fa fa-upload"></i>
              Import File
            </button>
            <!-- <button type="button" class="btn btn-warning" ng-click="verifyFile()">
              <i class="fa fa-flask"></i>
              Test File
            </button> -->
          </div>

          <br>

          <div class="row" style="text-align: center;">
            <img src="assets/img/584b607f5c2ff075429dc0e7b8d142ef.gif" style="width:50px;height:50px;float:left;" ng-if="loading">
            <h4>{{message}}</h4>
          </div>

        </div>
      </div>
      <!-- end content-->
    </div>
  </div>
</div>