<div class="container-fluid">
  <div class="card-content">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="purple">
        <i class="material-icons">assignment</i>
      </div>
      <div class="card-content">
        <h4 class="card-title">Carriage Payments</h4>
        <div class="toolbar">
          <!--        Here you can write extra buttons/actions for the toolbar              -->
        </div>
        <div>

          <div class="row" style="text-align: center;">

            <button type="button" class="btn btn-success btn-sm" ng-click="newPayment()">
              <i class="fa fa-plus"></i>
              Add new payment
            </button>

            <button type="button" class="btn btn-info btn-sm" ng-click="importFile()">
              <i class="fa fa-upload"></i>
              Import File
            </button>
            <button type="button" class="btn btn-warning btn-sm" ng-click="verifyFile()">
              <i class="fa fa-flask"></i>
              Test File
            </button>

            <button class="btn btn-sm btn-default" type="file" ngf-select ng-model="file" ngf-multiple="false"
              ngf-accept="'.csv'" ngf-change="upload(file)">
              <i class="material-icons">cloud_upload</i> Select File
            </button>

            <label>{{fileLocalName}}</label>
          </div>

          <div class="row">
            <div style="text-align: center;">
              <img src="assets/img/584b607f5c2ff075429dc0e7b8d142ef.gif" style="width:50px;height:50px;float:left;"
                ng-if="loading">
              <h4>{{message}}</h4>
            </div>

            <div style="margin-left:20px">
              <h4>
                Total Demanded : {{totalDemanded.toFixed(2)}} &nbsp; &nbsp; &nbsp; &nbsp;
                Total Affected : {{totalAffected.toFixed(2)}} &nbsp; &nbsp; &nbsp; &nbsp;
                Remaining Amount : {{(totalDemanded - totalAffected).toFixed(2)}}
              </h4>
            </div>
          </div>


          <div ng-if="carriagePayments" ui-grid="gridOptions" style="height: calc(93vh - 200px)"></div>

        </div>
      </div>
      <!-- end content-->
    </div>
  </div>
</div>

<style>
  /* .ui-grid-viewport .ui-grid-cell-contents {
    word-wrap: break-word;
    white-space: normal !important;
  }

  .ui-grid-row,
  .ui-grid-cell {
    height: auto !important;
  }

  .ui-grid-row div[role=row] {
    display: flex;
    align-content: stretch;
  } */
</style>