<div>
  <div class="card">
    <form id="TypeValidation" class="form-horizontal" action="#" method="">
      <div class="card-header card-header-text" data-background-color="rose">
        <h4 class="card-title">{{modelTitle}}</h4>
      </div>
      <div class="card-content">
        <br>

        <div class="row">
          <label class="label-on-right" style="margin-left:3%; float:left; width:25%">Payment type : </label>
          <div style="width:65%; float:left">
            <select class="form-control" ng-options="item for item in ['Affected', 'Demanded']" ng-model="paymentObject.type">
              <option value="" selected disabled>Select a choice</option>
            </select>
          </div>
        </div>

        <div class="row">
          <label class="label-on-right" style="margin-left:3%; float:left; width:25%">Amount : </label>
          <div style="width:65%; float:left">
            <div class="form-group label-floating">
              <label class="control-label"></label>
              <input ng-model="paymentObject.amount" class="form-control" type="number" />
            </div>
          </div>
        </div>

        <div class="row">
          <label class="label-on-right" style="margin-left:3%; float:left; width:25%">Date: </label>
          <div style="width:65%; float:left">
            <div class="form-group label-floating">
              <label class="control-label"></label>
              <input ng-model="paymentObject.date" class="form-control" type="date" />
            </div>
          </div>
        </div>

        <div class="row">
          <label class="label-on-right" style="margin-left:3%; float:left; width:25%">Comments : </label>
          <div style="width:65%; float:left">
            <div class="form-group label-floating">
              <label class="control-label"></label>
              <input ng-model="paymentObject.comments" class="form-control" type="text" />
            </div>
          </div>
        </div>

        <br>
        <br>

      </div>
      <div style="text-align: center;">
        <button type="button" class="btn btn-info" ng-click="ok()">
          <i class="fa fa-check"></i>
          Save
        </button>
        <button type="button" class="btn btn-warning" ng-click="exit()">
          <i class="fa fa-times"></i>
          Cancel
        </button>
        <img src="assets/img/584b607f5c2ff075429dc0e7b8d142ef.gif" style="width:50px;height:50px;float:left;" ng-if="loading">
      </div>
      <br>

    </form>
  </div>
</div>