<div>
  <div class="card">
    <form id="TypeValidation" class="form-horizontal" action="#" method="">
      <div class="card-header card-header-text" data-background-color="rose">
        <h4 class="card-title">Report ID : {{report.number}}</h4>
      </div>
      <div class="card-content">
        <br>
        <div class="row" style="text-align: center; margin-left: 10%; margin-right: 10%">
          <h4>
            {{report.message}}
          </h4>
        </div>
        <br>

        <div class="row" style="margin-left: 5%; width: 50%">
          <h6>Report status: <b>{{report.status}}</b></h6>
          <select class="form-control" ng-options="item for item in ['pending', 'in review', 'done']" ng-model="modelObject.status">
            <option value="" selected disabled>Select an action</option>
          </select>
        </div>
        <br>

        <div ng-if="report.order" class="row" style="margin-left: 5%; width: 50%">
          <h6>Order status: <b>{{report.order.status}}</b></h6>
          <select class="form-control" ng-options="item for item in ['pending', 'delivered', 'bad_order', 'canceled']"
            ng-model="modelObject.newOrderStatus">
            <option value="" selected disabled>Select an action</option>
          </select>
        </div>
        <br>

        <div ng-if="false" class="row" style="margin-left: 5%">
          <h6>Admin response: </h6>
          <textarea rows="4" cols="65" ng-model="modelObject.response" ng-disabled="modelObject.disable"></textarea>
        </div>
        <br>

      </div>

      <div class="row" style="text-align: center;">
        <button ng-if="report.order" type="button" class="btn btn-info" ng-click="ok()">
          <i class="fa fa-check"></i>
          Save
        </button>
        <button type="button" class="btn btn-warning" ng-click="exit()">
          <i class="fa fa-times"></i>
          Cancel
        </button>
        <img src="assets/img/584b607f5c2ff075429dc0e7b8d142ef.gif" style="width:50px;height:50px;float:left;" ng-if="loading">
      </div>
      <br>

    </form>
  </div>
</div>