<div class="container-fluid">
  <div class="card-content">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="purple">
        <i class="material-icons">assignment</i>
      </div>
      <div class="card-content">
        <h4 class="card-title">Driver Reports</h4>
        <div class="toolbar">
          <!--        Here you can write extra buttons/actions for the toolbar              -->
        </div>
        <div>

          <div class="row">
            <div class="col-md-4">
              Filter reports by status :
              <select ng-options="item for item in ['pending', 'in review', 'done']" ng-model="filterStatus"
                ng-change="filterUpdate()">
              </select>
            </div>

            <div class="col-md-4">
              Filter reports by region :
              <select ng-options="item for item in ['All Regions', 'Eastern Region', 'Alhassa']" ng-model="filterRegion"
                ng-change="filterUpdate()">
              </select>
            </div>

            <div class="col-md-4">
              Total reports : {{reportsCount}}
            </div>
          </div>
          <br>

          <div ng-if="reports" ui-grid="gridOptions" style="height: calc(93vh - 145px)"></div>

        </div>
      </div>
      <!-- end content-->
    </div>
  </div>
</div>

<!-- <style>
    .ui-grid-viewport .ui-grid-cell-contents {
      word-wrap: break-word;
      white-space: normal !important;
    }
  
    .ui-grid-row,
    .ui-grid-cell {
      height: auto !important;
    }
  
    .ui-grid-row div[role=row] {
      display: flex;
      align-content: stretch;
    }
  </style> -->