.pitch-title-right,
.pitch-title-left,
.cta h2,
.form-container p,
.lang-button,
.lang-select,
.apply:hover,
.pink,
.bottom-bar-button,
.footer a,
.notification-button-sent,
.learn-more__link,
.learn-more__link:hover,
.learn-more__link:focus {
  color: #5dbcd2;
}

.apply:hover {
  outline: 1px solid #5dbcd2;
}

.bottom-bar-button,
.learn-more__arrow {
  border-color: #5dbcd2;
}

.nav-button,
.button-form,
.button-pink-header,
#send,
.color-bg-primary,
.button-pink,
.fc_message:before,
.notification-button,
.header--error-message {
  background-color: #5dbcd2;
}

.navbar {
  width: 100%;
  height: 53px;
  padding: 0 10rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: grid;
  align-items: center;
  /* justify-content: center; */
  grid-template-columns: 120px 120px auto;
  gap: 2rem;
  background: #fff;
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1),
    0 3px 1px 0 rgba(20, 23, 28, 0.1);
}

.brand-logo h2 {
  display: inline-block;
  margin: 0;
}

.download-apps-container {
  display: flex;
  justify-content: flex-end;
}

.download-apps-container a {
  margin-left: 20px;

}

.download-badge {
  height: 40px;
  object-fit: cover;
}

.main {
  height: calc(100vh - 53px);
  width: 100%;
  margin-top: 53px;
}

.header-gradient {
  display: flex;
  align-items: center;
}

.main-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* height: 100%; */
  width: 100%;
  /* background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)); */
  padding: 0 10rem;
}

.flex-item2 {
  position: relative;
  height: 425px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.sponsors {
    position: absolute;
    bottom: 0;
    right: 0;
  margin-top: 40.83px;
  display: flex;
  justify-content: flex-end;
}

.sponsor-logo {
  height: 100px;
}

.main-logo {
  width: 320px;
  margin-bottom: 50px;
}

.custom-logo-link {
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #585858;
}

.form-error {
  box-shadow: 0 0 0 2px #5dbcd2;
}

.lang-button,
.lang-select {
  color: #5dbcd2;
}

.header-form {
  margin-bottom: 0;
}

.lang-button:hover,
.lang-select:hover {
  background-color: #5dbcd2;
}

.lang-select.select {
  border-bottom: 2px solid #5dbcd2;
}

.color-bg-secondary {
  background-color: #d3d3d3;
}

.color-bg-secondary {
  color: #50423e;
}

.form-container {
  background-color: #d3d3d3;
}

.more-info {
  color: #d3d3d3;
}

form {
  color: #50423e;
}

.more-info {
  background-color: #50423e;
}

.main {
  background-image: linear-gradient(
      0deg,
      rgba(255, 255, 153, 0.4),
      rgba(255, 255, 153, 0.4)
    ),
    url("https://img.jakpost.net/c/2017/03/10/2017_03_10_23255_1489143696._large.jpg");
  min-height: 0;
}

.main {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 153, 0.4),
      rgba(255, 255, 153, 0.4)
    ),
    linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    url("https://img.jakpost.net/c/2017/03/10/2017_03_10_23255_1489143696._large.jpg");
  background-position: right center;
  background-size: cover;
}
