<div>
  <div class="card">
    <form id="TypeValidation" class="form-horizontal" action="#" method="">
      <div class="card-header card-header-text" data-background-color="rose">
        <h4 class="card-title">Details</h4>
      </div>
      <div class="card-content">

        <div class="row" style="margin-left:30px">
          <h4>
            Old remaining : {{details.oldRemaining.toFixed(2)}} SAR
          </h4>
          <h4>
            Order count : {{details.ordersCount}}
          </h4>
          <h4>
            Balance : {{details.balance.toFixed(2)}} SAR
          </h4>
          <h4>
            Total to pay : {{details.totalToPay.toFixed(2)}} SAR
          </h4>
          <h4>
            Paid : {{details.paid.toFixed(2)}} SAR
          </h4>
          <h4>
            New remaining : {{details.newRemaining.toFixed(2)}} SAR
          </h4>
        </div>
        
      </div>

    </form>
  </div>
</div>