<div class="container-fluid">
  <div class="card-content">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="purple">
        <i class="material-icons">assignment</i>
      </div>
      <div class="card-content">
        <h4 class="card-title">Driver transactions</h4>
        <div class="toolbar">
          <!--        Here you can write extra buttons/actions for the toolbar              -->
        </div>
        <div>


          <div style="text-align: center;">
            <h3>
              {{driver.firstName + ' ' + driver.lastName + ' - Balance : ' + driver.balance.toFixed(2)}}
            </h3>
          </div>

          <div class="row" style="margin-left: 10px">
            Order ID :
            <input ng-model="orderID" style="width: 100px" type="text" />
            <select ng-options="item for item in ['Change status', 'Transfer']" ng-model="selectedAction">
              <option value="" selected disabled>Select an action</option>
            </select>

            <div style="display: inline" ng-show="selectedAction == 'Change status'">
              <select ng-options="item for item in ['delivered', 'bad_order', 'pending', 'canceled']" ng-model="status">
                <option value="" selected disabled>Select a status</option>
              </select>
              <button type="button" class="btn btn-default btn-sm" ng-click="updateStatus()">
                <i class="fa fa-bolt"></i>
                update status
              </button>
            </div>

            <div style="display: inline" ng-show="selectedAction == 'Transfer'">
              Carriage ID :
              <input ng-model="newCarriageId" style="width: 100px" type="text" />
              <button type="button" class="btn btn-default btn-sm" ng-click="transfer()">
                <i class="fa fa-bolt"></i>
                update driver
              </button>
            </div>

            <div style="display: inline">
              <button type="button" class="btn btn-default btn-sm" ng-click="addOrder()">
                <i class="fa fa-plus-circle"></i>
                Add manual order
              </button>
            </div>

          </div>


          <div ng-if="transactions" ui-grid="gridOptions" style="height: calc(93vh - 215px)"></div>

        </div>
      </div>
      <!-- end content-->
    </div>
  </div>
</div>

<!-- <style>
    .ui-grid-viewport .ui-grid-cell-contents {
      word-wrap: break-word;
      white-space: normal !important;
    }
  
    .ui-grid-row,
    .ui-grid-cell {
      height: auto !important;
    }
  
    .ui-grid-row div[role=row] {
      display: flex;
      align-content: stretch;
    }
  </style> -->