<div>
  <div class="card">
    <form id="TypeValidation" class="form-horizontal" action="#" method="">
      <div class="card-header card-header-text" data-background-color="rose">
        <h4 class="card-title">{{modelTitle}}</h4>
      </div>
      <div class="card-content">

        <div class="row">
          <label class="label-on-right" style="margin-left:3%; float:left; width:25%">Order Id : </label>
          <div style="width:65%; float:left">
            <div class="form-group label-floating">
              <label class="control-label"></label>
              <input ng-model="modelObject.orderId" class="form-control" type="number" />
            </div>
          </div>
        </div>

        <div class="row">
          <label class="label-on-right" style="margin-left:3%; float:left; width:25%">Status : </label>
          <div style="width:65%; float:left; margin-top:8px">
            <select class="form-control" ng-options="item for item in ['delivered', 'bad_order', 'canceled']"
              ng-model="modelObject.status">
              <option value="" selected disabled>Select an action</option>
            </select>
          </div>
        </div>

        <div class="row">
          <label class="label-on-right" style="margin-left:3%; float:left; width:25%">Amount : </label>
          <div style="width:65%; float:left">
            <div class="form-group label-floating">
              <label class="control-label"></label>
              <input ng-model="modelObject.amount" class="form-control" type="number" />
            </div>
          </div>
        </div>

        <div class="row">
          <label class="label-on-right" style="margin-left:3%; float:left; width:25%">Payment Method : </label>
          <div style="width:65%; float:left; margin-top:8px">
            <select class="form-control" ng-options="item for item in ['Cash on Delivery', 'Credit Card', 'Apple Pay']"
              ng-model="modelObject.paymentMethod">
              <option value="" selected disabled>Select an action</option>
            </select>
          </div>
        </div>

      </div>
      <div style="text-align: center;">
        <div class="row">
          {{errorMessage}}
        </div>
        <div class="row">
          <button type="button" class="btn btn-info" ng-click="ok()">
            <i class="fa fa-check"></i>
            Add
          </button>
          <button type="button" class="btn btn-warning" ng-click="exit()">
            <i class="fa fa-times"></i>
            Cancel
          </button>
        </div>
        <img src="assets/img/584b607f5c2ff075429dc0e7b8d142ef.gif" style="width:50px;height:50px;float:center;"
          ng-if="loading">
      </div>
      <br>

    </form>
  </div>
</div>