<!doctype html>
<html lang="en">
<html ng-app="adminApp" ng-controller="adminController">

<head>

	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="assets/img/favicon.png" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Marathon | Admin dhashboard</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />


	<!-- Bootstrap core CSS     -->
	<link href="assets/css/bootstrap.min.css" rel="stylesheet" />
	<!--  Material Dashboard CSS    -->
	<link href="assets/css/material-dashboard5438.css?v=1.2.0" rel="stylesheet" />


	<!-- Angular JS Libs CSS -->
	<link rel="stylesheet" href="lib/ng-dialog/ngDialog.min.css">
	<link rel="stylesheet" href="lib/ng-dialog/ngDialog-theme-default.css">
	<link rel="stylesheet" href="lib/angular-ui-grid/ui-grid.css">

	<!--     Fonts and icons     -->
	<link href="assets/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="assets/css/csse5da.css?family=Roboto:300,400,500,700|Material+Icons" />
	<link href="assets/css/icone91f.css?family=Material+Icons" rel="stylesheet">
</head>

<body class="sidebar-mini">
	<div class="wrapper">
		<div class="sidebar" data-active-color="rose" data-background-color="black" data-image="assets/img/sidebar-1.jpg">

			<div class="logo">
				<a href="" class="simple-text logo-mini">
				</a>
				<a href="" class="simple-text logo-normal">
					Marathon
					<br>
					<label>User: {{userName}}</label>
				</a>
			</div>
			<!--style="overflow: hidden;-->
			<div class="sidebar-wrapper">
				<ul class="nav">

					<li ng-if="!onlyCam">
						<a href="#/drivers">
							<i class="material-icons">airport_shuttle</i>
							<p>Drivers</p>
						</a>
					</li>

					<li ng-if="!onlyCam">
						<a href="#/drivers/link">
							<i class="material-icons">airport_shuttle</i>
							<p>New Drivers</p>
						</a>
					</li>

					<li ng-if="!onlyCam">
						<a href="#/importTransaction">
							<i class="material-icons">swap_horiz</i>
							<p>Import Transactions</p>
						</a>
					</li>

					<li ng-if="!onlyCam">
						<a href="#/pendingTransactions">
							<i class="material-icons">view_headline</i>
							<p>Pending Transactions</p>
						</a>
					</li>

					<li ng-if="superAdmin">
						<a href="#/carriagePayment">
							<i class="material-icons">credit_card</i>
							<p>Carriage Payment</p>
						</a>
					</li>

					<li ng-if="superAdmin || abujamel">
						<a href="#/receivedCash">
							<i class="material-icons">monetization_on</i>
							<p>Received Cash</p>
						</a>
					</li>

					<li ng-if="superAdmin">
						<a href="#/remainingCash">
							<i class="material-icons">money_off</i>
							<p>Remaining Cash</p>
						</a>
					</li>

					<li ng-if="!onlyCam">
						<a href="#/report">
							<i class="material-icons">assignment_ind</i>
							<p>Reports</p>
						</a>
					</li>

					<li ng-if="superAdmin || camerasOrderUser || onlyCam">
						<a href="#/camerasOrder">
							<i class="material-icons">photo_camera</i>
							<p>Cameras Order</p>
						</a>
					</li>

					<li>
						<a href="#/profile">
							<i class="material-icons">person</i>
							<p>Profile</p>
						</a>
					</li>

					<li ng-click="logout()">
						<a>
							<i class="material-icons">arrow_back</i>
							<p>Logout</p>
						</a>
					</li>

				</ul>
			</div>
		</div>

		<div class="main-panel">
			<br>
			<div ng-view="">
				<footer class="footer"></footer>
			</div>
		</div>


	</div>

</body>

<!--   Core JS Files   -->
<script src="assets/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/js/material.min.js" type="text/javascript"></script>


<!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
<script src="assets/js/moment.min.js"></script>
<script src="assets/js/bootstrap-datetimepicker.js"></script>
<!--  Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script src="assets/js/jquery.select-bootstrap.js"></script>
<!-- Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
<script src="assets/js/jquery.tagsinput.js"></script>
<!-- Material Dashboard javascript methods -->
<script src="assets/js/material-dashboard5438.js?v=1.2.0"></script>


<!-- Angular JS Libs -->
<script src="lib/angular.min.js"></script>
<script src="lib/angular-route.min.js"></script>
<script src="lib/ng-file-upload/ng-file-upload.min.js"></script>
<script src="lib/ng-file-upload/ng-file-upload-shim.min.js"></script>
<script src="lib/ng-dialog/ngDialog.min.js"></script>
<script src="lib/angular-ui-grid/ui-grid.core.js"></script>
<script src="lib/lodash.js"></script>


<!-- Angular JS Controllers -->
<script src="app.js"></script>
<script src="components/driver/driverController.js"></script>
<script src="components/importTransaction/importTransactionController.js"></script>
<script src="components/driverTransaction/driverTransactionController.js"></script>
<script src="components/driverDocument/driverDocumentController.js"></script>
<script src="components/profile/profileController.js"></script>
<script src="components/carriagePayment/carriagePaymentController.js"></script>
<script src="components/pendingTransactions/pendingTransactionsController.js"></script>
<script src="components/receivedCash/receivedCashController.js"></script>
<script src="components/receivedCashDetails/receivedCashDetailsController.js"></script> 
<script src="components/report/reportController.js"></script>
<script src="components/camerasOrder/camerasOrderController.js"></script>
<script src="components/remainingCash/remainingCashController.js"></script>
<script src="components/cameraOrderInvoice/cameraOrderInvoiceController.js"></script>
<script src="components/messages/messagesController.js"></script>

</html>