<html lang="en">
<html ng-app="loginApp" ng-controller="loginController">

<head>
	<title>Marathon | Admin dhashboard</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/png" href="assets/img/favicon.png" />

	<!-- Bootstrap core CSS     -->
	<link href="assets/css/bootstrap.min.css" rel="stylesheet" />
	<!--  Material Dashboard CSS    -->
	<link href="assets/css/material-dashboard5438.css?v=1.2.0" rel="stylesheet" />

	<!--     Fonts and icons     -->
	<link href="assets/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="assets/css/csse5da.css?family=Roboto:300,400,500,700|Material+Icons" />
	<link href="assets/css/icone91f.css?family=Material+Icons" rel="stylesheet">

	<!--endcss-->

</head>

<body class="off-canvas-sidebar">
	<nav class="navbar navbar-primary navbar-transparent navbar-absolute">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="../dashboard">Marathon</a>
			</div>

		</div>
	</nav>
	<div class="wrapper wrapper-full-page">
		<div class="full-page login-page" filter-color="black" data-image="assets/img/login.jpg">
			<!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
			<div class="content">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
							<div class="card card-login card-hidden">
								<div class="card-header text-center" data-background-color="rose">
									<h4 class="card-title">Login</h4>
								</div>
								<div class="card-content">
									<div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">email</i>
										</span>
										<div class="form-group label-floating">
											<label class="control-label">Email address</label>
											<input type="email" class="form-control" ng-model="email">
										</div>
									</div>
									<div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">lock_outline</i>
										</span>
										<div class="form-group label-floating">
											<label class="control-label">Password</label>
											<input type="password" ng-keypress="pressedKey($event)" class="form-control" ng-model="password">
										</div>
									</div>
								</div>
								<div class="footer text-center">
									<button class="btn btn-rose btn-simple btn-wd btn-lg" ng-click="login()">Login</button>
									<br>
									<label class="text-danger" ng-if="wrongPassword">Wrong email or password</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer class="footer">
				<div class="container">
					<p class="copyright pull-right">
						&copy;
						<script>
							document.write(new Date().getFullYear())
						</script> Marathon
					</p>
				</div>
			</footer>
		</div>
	</div>
</body>


<!--   Core JS Files   -->
<script src="assets/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/js/material.min.js" type="text/javascript"></script>
<script src="assets/js/jquery.tagsinput.js"></script>
<script src="assets/js/material-dashboard5438.js?v=1.2.0"></script>

<script src="lib/angular.min.js"></script>
<script src="components/login/loginApp.js"></script>


<script type="text/javascript">
	$().ready(function () {

		$page = $('.full-page');
		image_src = $page.data('image');

		if (image_src !== undefined) {
			image_container = '<div class="full-page-background" style="background-image: url(' + image_src + ') "/>'
			$page.append(image_container);
		}

		setTimeout(function () {
			// after 1000 ms we add the class animated to the login/register card
			$('.card').removeClass('card-hidden');
		}, 700)
	});
</script>

</html>