<div class="container-fluid">
  <div class="card-content">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="purple">
        <i class="material-icons">assignment</i>
      </div>
      <div class="card-content">
        <h4 class="card-title">Drivers</h4>
        <div class="toolbar">
          <!--        Here you can write extra buttons/actions for the toolbar              -->
        </div>
        <div>

          <div class="row" style="display: flex; justify-content: flex-end; margin-right: 7px">
            <button class="btn btn-primary btn-default" ng-click="sendMessageToAll()">
              <span class="btn-label">
                <i class="material-icons">message</i>
              </span>
              Send Message
            </button>
            <button class="btn btn-primary btn-success" ng-click="addDriver()">
              <span class="btn-label">
                <i class="material-icons">library_add</i>
              </span>
              Add
            </button>
          </div>

          <div ng-if="drivers" ui-grid="gridOptions" style="height: calc(93vh - 160px);"></div>

        </div>
      </div>
      <!-- end content-->
    </div>
  </div>
</div>

<style>
  .red {
    background-color: #f05353c4 !important;
  }
</style>

<style>
  /* .ui-grid-viewport .ui-grid-cell-contents {
    word-wrap: break-word;
    white-space: normal !important;
  }

  .ui-grid-row,
  .ui-grid-cell {
    height: auto !important;
  }

  .ui-grid-row div[role=row] {
    display: flex;
    align-content: stretch;
  } */
</style>