<div>
  <div class="card">
    <form id="TypeValidation" class="form-horizontal" action="#" method="">
      <div class="card-header card-header-text" data-background-color="rose">
        <h4 class="card-title">{{modelTitle}}</h4>
      </div>
      <div class="card-content">
        <br>

        <div class="row">
          <label class="label-on-right" style="margin-left:3%; float:left; width:25%">Carriage ID : </label>
          <div style="width:65%; float:left">
            <div class="form-group label-floating">
              <label class="control-label"></label>
              <input ng-model="driverObject.carriageId" class="form-control" type="text" />
            </div>
          </div>
        </div>

        <div class="row">
          <label class="label-on-right" style="margin-left:3%; float:left; width:25%">Branch : </label>
          <div style="width:65%; float:left">
            <select class="form-control" ng-options="item for item in branches" ng-model="driverObject.branch">
              <option value="" selected disabled>Select a choice</option>
            </select>
          </div>
        </div>

        <div class="row">
          <label class="label-on-right" style="margin-left:3%; float:left; width:25%">First Name : </label>
          <div style="width:65%; float:left">
            <div class="form-group label-floating">
              <label class="control-label"></label>
              <input ng-model="driverObject.firstName" class="form-control" type="text" />
            </div>
          </div>
        </div>

        <div class="row">
          <label class="label-on-right" style="margin-left:3%; float:left; width:25%">Last Name : </label>
          <div style="width:65%; float:left">
            <div class="form-group label-floating">
              <label class="control-label"></label>
              <input ng-model="driverObject.lastName" class="form-control" type="text" />
            </div>
          </div>
        </div>

        <div class="row">
          <label class="label-on-right" style="margin-left:3%; float:left; width:25%">Email : </label>
          <div style="width:65%; float:left">
            <div class="form-group label-floating">
              <label class="control-label"></label>
              <input ng-model="driverObject.email" class="form-control" type="text" />
            </div>
          </div>
        </div>

        <div class="row">
          <label class="label-on-right" style="margin-left:3%; float:left; width:25%">Password : </label>
          <div style="width:65%; float:left">
            <div class="form-group label-floating">
              <label class="control-label"></label>
              <input ng-model="driverObject.password" class="form-control" type="password" />
            </div>
          </div>
        </div>

        <div class="row">
          <label class="label-on-right" style="margin-left:3%; float:left; width:25%">Phone Number : </label>
          <div style="width:65%; float:left">
            <div class="form-group label-floating">
              <label class="control-label"></label>
              <input ng-model="driverObject.phoneNumber" class="form-control" type="text" />
            </div>
          </div>
        </div>

        <div class="row">
          <label class="label-on-right" style="margin-left:3%; float:left; width:25%">Date of Birth : </label>
          <div style="width:65%; float:left">
            <div class="form-group label-floating">
              <label class="control-label"></label>
              <input ng-model="driverObject.dateOfBirth" class="form-control" type="date" />
            </div>
          </div>
        </div>

        <div class="row">
          <label class="label-on-right" style="margin-left:3%; float:left; width:25%">Address : </label>
          <div style="width:65%; float:left">
            <div class="form-group label-floating">
              <label class="control-label"></label>
              <input ng-model="driverObject.address" class="form-control" type="text" />
            </div>
          </div>
        </div>

        <div class="row">
          <label class="label-on-right" style="margin-left:3%; float:left; width:25%">Nationality : </label>
          <div style="width:65%; float:left">
            <select class="form-control" ng-options="item for item in countryNames" ng-model="driverObject.nationality">
              <option value="" selected disabled>Select a choice</option>
            </select>
          </div>
        </div>

        <div class="row">
          <label class="label-on-right" style="margin-left:3%; float:left; width:25%">Picture : </label>
          <div style="width:65%; float:left; margin-top:13px">

            <button class="btn btn-primary btn-round btn-sm btn-info" type="file" ngf-select ng-model="file"
              ngf-multiple="false" ngf-accept="'image/*'" ngf-change="upload(file, 'picture')">
              <i class="material-icons">cloud_upload</i> Select File
            </button>

            <button ng-disabled="!driverObject.picture" type="button" class="btn btn-primary btn-round btn-sm btn-info"
              ng-click="openInNewTab(driverObject.picture)">
              <i class="material-icons">search</i> View
            </button>

          </div>
        </div>

        <div class="row">
          <label class="label-on-right" style="margin-left:3%; float:left; width:25%">Captain Identity Number : </label>
          <div style="width:65%; float:left">
            <div class="form-group label-floating">
              <label class="control-label"></label>
              <input ng-model="driverObject.captainIdentityNumber" class="form-control" type="text" />
            </div>
          </div>
        </div>

        <div class="row">
          <label class="label-on-right" style="margin-left:3%; float:left; width:25%">Identity Date : </label>
          <div style="width:65%; float:left">
            <div class="form-group label-floating">
              <label class="control-label"></label>
              <input ng-model="driverObject.identityDate" class="form-control" type="date" />
            </div>
          </div>
        </div>

        <div class="row">
          <label class="label-on-right" style="margin-left:3%; float:left; width:25%">Bank Name : </label>
          <div style="width:65%; float:left">
            <div class="form-group label-floating">
              <label class="control-label"></label>
              <input ng-model="driverObject.bankName" class="form-control" type="text" />
            </div>
          </div>
        </div>

        <div class="row">
          <label class="label-on-right" style="margin-left:3%; float:left; width:25%">IBAN : </label>
          <div style="width:65%; float:left">
            <div class="form-group label-floating">
              <label class="control-label"></label>
              <input ng-model="driverObject.iban" class="form-control" type="text" />
            </div>
          </div>
        </div>

        <div class="row">
          <label class="label-on-right" style="margin-left:3%; float:left; width:25%">Status : </label>
          <div style="width:65%; float:left">
            <select class="form-control" ng-options="item for item in ['Waiting', 'Working']" ng-model="driverObject.status">
              <option value="" selected disabled>Select a choice</option>
            </select>
          </div>
        </div>

        <div class="row">
          <label class="label-on-right" style="margin-left:3%; float:left; width:25%">Custody Date : </label>
          <div style="width:65%; float:left">
            <div class="form-group label-floating">
              <label class="control-label"></label>
              <input ng-model="driverObject.custodyDate" class="form-control" type="date" />
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-sm-3">
            <label class="label-on-right" style="margin-left:3%; float:left;">T-Shirt : </label>
            <div class="checkbox" style="margin-left:50%; margin-top:12%">
              <label>
                <input type="checkbox" name="optionsCheckboxes" ng-model="driverObject.hasTShirt">
              </label>
            </div>
          </div>

          <div class="col-sm-3">
            <label class="label-on-right" style="margin-left:3%; float:left;">Box Cold : </label>
            <div class="checkbox" style="margin-left:60%; margin-top:12%">
              <label>
                <input type="checkbox" name="optionsCheckboxes" ng-model="driverObject.hasBoxCold">
              </label>
            </div>
          </div>

          <div class="col-sm-3">
            <label class="label-on-right" style="margin-left:3%; float:left;">Box Hot : </label>
            <div class="checkbox" style="margin-left:60%; margin-top:12%">
              <label>
                <input type="checkbox" name="optionsCheckboxes" ng-model="driverObject.hasBoxHot">
              </label>
            </div>
          </div>

          <div class="col-sm-3">
            <label class="label-on-right" style="margin-left:3%; float:left;">Wire : </label>
            <div class="checkbox" style="margin-left:50%; margin-top:12%">
              <label>
                <input type="checkbox" name="optionsCheckboxes" ng-model="driverObject.wire">
              </label>
            </div>
          </div>

          <div class="row">
            <label class="label-on-right" style="margin-left:3%; float:left; width:25%">ID/Iqama : </label>
            <div style="width:65%; float:left; margin-top:13px">
              <button class="btn btn-primary btn-round btn-sm btn-info" type="file" ngf-select ng-model="file"
                ngf-multiple="false" ngf-accept="'image/*'" ngf-change="upload(file, 'identityIqama')">
                <i class="material-icons">cloud_upload</i> Select File
              </button>

              <button ng-disabled="!driverObject.identityIqama" type="button" class="btn btn-primary btn-round btn-sm btn-info"
                ng-click="openInNewTab(driverObject.identityIqama)">
                <i class="material-icons">search</i> View
              </button>
            </div>
          </div>


          <div class="row">
            <label class="label-on-right" style="margin-left:3%; float:left; width:25%">Driving License : </label>
            <div style="width:65%; float:left; margin-top:13px">
              <button class="btn btn-primary btn-round btn-sm btn-info" type="file" ngf-select ng-model="file"
                ngf-multiple="false" ngf-accept="'image/*'" ngf-change="upload(file, 'drivingLicense')">
                <i class="material-icons">cloud_upload</i> Select File
              </button>

              <button ng-disabled="!driverObject.drivingLicense" type="button" class="btn btn-primary btn-round btn-sm btn-info"
                ng-click="openInNewTab(driverObject.drivingLicense)">
                <i class="material-icons">search</i> View
              </button>
            </div>
          </div>

          <div class="row">
            <label class="label-on-right" style="margin-left:3%; float:left; width:25%">Comments : </label>
            <div style="width:65%; float:left">
              <div class="form-group label-floating">
                <label class="control-label"></label>
                <input ng-model="driverObject.comments" class="form-control" type="text" />
              </div>
            </div>
          </div>
        </div>

        <br>
        <br>

      </div>
      <div style="text-align: center;">
        <button ng-disabled="!driverObject.captainIdentityNumber" type="button" class="btn btn-info" ng-click="ok()">
          <i class="fa fa-check"></i>
          Save
        </button>
        <button type="button" class="btn btn-warning" ng-click="exit()">
          <i class="fa fa-times"></i>
          Cancel
        </button>
        <img src="assets/img/584b607f5c2ff075429dc0e7b8d142ef.gif" style="width:50px;height:50px;float:left;" ng-if="loading">
        <br>
        {{message}}
      </div>
      <br>
    </form>
  </div>
</div>