<div>
  <div class="card">
    <form id="TypeValidation" class="form-horizontal" action="#" method="">
      <div class="card-header card-header-text" data-background-color="rose">
        <h4 class="card-title">{{modelTitle}}</h4>
      </div>
      <div class="card-content">

        <div class="row" style="text-align: center;">
          <h4>
            {{driver.firstName + ' ' + driver.lastName}}
          </h4>
        </div>
        <div class="row" style="text-align: center;">
          <h4>
            Balance : {{driver.balance.toFixed(2)}}
          </h4>
        </div>

        <div class="row">
          <label class="label-on-right" style="margin-left:3%; float:left; width:25%">Amount : </label>
          <div style="width:65%; float:left">
            <div class="form-group label-floating">
              <label class="control-label"></label>
              <input ng-model="amount" class="form-control" type="text" />
            </div>
          </div>
        </div>

      </div>
      <div style="text-align: center;">
        <div class="row">
          {{errorMessage}}
        </div>
        <div class="row">
          <button type="button" class="btn btn-info" ng-click="ok()">
            <i class="fa fa-check"></i>
            Save
          </button>
          <button type="button" class="btn btn-warning" ng-click="exit()">
            <i class="fa fa-times"></i>
            Cancel
          </button>
          <img src="assets/img/584b607f5c2ff075429dc0e7b8d142ef.gif" style="width:50px;height:50px;float:left;" ng-if="loading">
        </div>
      </div>
      <br>

    </form>
  </div>
</div>