<div class="container-fluid">
  <div class="card-content">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="purple">
        <i class="material-icons">assignment</i>
      </div>
      <div class="card-content">
        <h4 class="card-title">Remaining Cash</h4>
        <div class="toolbar">
          <!--        Here you can write extra buttons/actions for the toolbar              -->
        </div>
        <div>

          <br>
          <div style="text-align: center;" ng-if="!remainingCash">
            <h4>Please wait until the system fetch all data</h4>
            <img src="assets/img/584b607f5c2ff075429dc0e7b8d142ef.gif" style="width:50px;height:50px;float:center;">
          </div>
          <div style="text-align: left;" ng-if="remainingCash">
            <h3>
              {{'Remaining cash in Alhassa:   ' + remainingCash.AlhassaBalance.toFixed(2) + ' SAR'}}
            </h3>
            <h3>
              {{'Remaining cash in Eastern Region:   ' + remainingCash.EasternRegionBalance.toFixed(2) + ' SAR'}}
            </h3>
            <h3>
              {{'Total remaining cash :   ' + (remainingCash.AlhassaBalance + remainingCash.EasternRegionBalance).toFixed(2) + ' SAR'}}
            </h3>
          </div>
          <br>

        </div>
      </div>
      <!-- end content-->
    </div>
  </div>
</div>