<div>
  <div class="card">
    <form id="TypeValidation" class="form-horizontal" action="#" method="">
      <div class="card-header card-header-text" data-background-color="rose">
        <h4 class="card-title">Order ID: {{modelObject.number}}</h4>
      </div>
      <div class="card-content">
        
        <br>
        <div class="row">
          <label class="label-on-right" style="margin-left:3%; float:left; width:25%">Full Name : </label>
          <div style="width:65%; float:left">
            <div class="form-group label-floating">
              <label class="control-label"></label>
              <input ng-model="modelObject.fullName" class="form-control" type="text" />
            </div>
          </div>
        </div>

        <div class="row">
          <label class="label-on-right" style="margin-left:3%; float:left; width:25%">Quantity : </label>
          <div style="width:65%; float:left">
            <div class="form-group label-floating">
              <label class="control-label"></label>
              <input ng-model="modelObject.quantity" class="form-control" type="number" />
            </div>
          </div>
        </div>

        <div class="row">
          <label class="label-on-right" style="margin-left:3%; float:left; width:25%">Phone : </label>
          <div style="width:65%; float:left">
            <div class="form-group label-floating">
              <label class="control-label"></label>
              <input ng-model="modelObject.phone" class="form-control" type="text" />
            </div>
          </div>
        </div>

        <div class="row">
          <label class="label-on-right" style="margin-left:3%; float:left; width:25%">City : </label>
          <div style="width:65%; float:left">
            <div class="form-group label-floating">
              <label class="control-label"></label>
              <input ng-model="modelObject.address1" class="form-control" type="text" />
            </div>
          </div>
        </div> 

        <div class="row">
          <label class="label-on-right" style="margin-left:3%; float:left; width:25%">Street : </label>
          <div style="width:65%; float:left">
            <div class="form-group label-floating">
              <label class="control-label"></label>
              <input ng-model="modelObject.address2" class="form-control" type="text" />
            </div>
          </div>
        </div>

        <div class="row">
          <label class="label-on-right" style="margin-left:3%; float:left; width:25%">Remarks : </label>
          <div style="width:65%; float:left">
            <div class="form-group label-floating">
              <label class="control-label"></label>
              <input ng-model="modelObject.remarks" class="form-control" type="text" />
            </div>
          </div>
        </div>

      </div>

      <div class="row" style="text-align: center;">
        <button type="button" class="btn btn-info" ng-click="ok()">
          <i class="fa fa-check"></i>
          Save
        </button>
        <button type="button" class="btn btn-warning" ng-click="exit()">
          <i class="fa fa-times"></i>
          Cancel
        </button>
        <img src="assets/img/584b607f5c2ff075429dc0e7b8d142ef.gif" style="width:50px;height:50px;float:left;"
          ng-if="loading">
      </div>
      <br>

    </form>
  </div>
</div>