<div class="container-fluid">
  <div class="card-content">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="purple">
        <i class="material-icons">assignment</i>
      </div>
      <div class="card-content">
        <h4 class="card-title">Cameras Orderes</h4>
        <div class="toolbar">
          <!--        Here you can write extra buttons/actions for the toolbar              -->
        </div>
        <div>

          <div style="text-align: right;">
            <button type="button" class="btn btn-default " ng-click="openInNewTab('#/cameraOrderInvoice')">
                <i class="material-icons">print</i>
              generate invoices
            </button>
          </div>

          <div ng-if="camOrders" ui-grid="gridOptions" style="height: calc(93vh - 145px)"></div>

        </div>
      </div>
      <!-- end content-->
    </div>
  </div>
</div>

<!-- <style>
    .ui-grid-viewport .ui-grid-cell-contents {
      word-wrap: break-word;
      white-space: normal !important;
    }
  
    .ui-grid-row,
    .ui-grid-cell {
      height: auto !important;
    }
  
    .ui-grid-row div[role=row] {
      display: flex;
      align-content: stretch;
    }
  </style> -->