<div>
  <div class="card">
    <form id="TypeValidation" class="form-horizontal" action="#" method="">
      <div class="card-header card-header-text" data-background-color="rose">
        <h4 class="card-title">Comments</h4>
      </div>
      <div class="card-content">
        <br>

        <div ng-repeat="item in modelObject.comments" style="margin-bottom:20px">
          <div style="font-weight: bold; font-size: large">
            {{item.user}}
          </div>
          <div style="font-weight: bold;">
            {{item.date | date:"yyyy-MM-dd h:mm a"}}
          </div>
          <p style="margin-top:13px">
            {{item.text}}
          </p>

          <hr ng-if="($index + 1) != modelObject.comments.length" style="margin-top:20px; height: 1px; background: #333;">

        </div>

        <div style="display:flex">
          <div class="form-group label-floating" style="width:75%;">
            <input ng-model="modelObject.newComment" class="form-control" type="text" />
          </div>
          <button type="button" class="btn btn-info" ng-click="ok()" style="margin-left: 10px">
            add comment
          </button>
        </div>

        <!-- <br>
        <br>
        <div class="row" style="text-align: center;">
          <button type="button" class="btn btn-warning" ng-click="exit()">
            <i class="fa fa-times"></i>
            Cancel
          </button>
          <img src="assets/img/584b607f5c2ff075429dc0e7b8d142ef.gif" style="width:50px;height:50px;float:left;"
            ng-if="loading">
        </div> -->

      </div>
      <br>

    </form>
  </div>
</div>