<div class="container-fluid">
  <div class="card-content" >
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="purple">
        <i class="material-icons">assignment</i>
      </div>
      <div class="card-content" style="height: 100%;">
        <h4 class="card-title">Received Cash</h4>
        <div class="toolbar">
        </div>
        <div>

            <div ng-if="receivedCash" ui-grid="gridOptions" style="height: calc(93vh - 105px)"></div>

        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .ui-grid-viewport .ui-grid-cell-contents {
    text-align: center;
  }
</style>

<!-- <style>
    .ui-grid-viewport .ui-grid-cell-contents {
      word-wrap: break-word;
      white-space: normal !important;
    }
  
    .ui-grid-row,
    .ui-grid-cell {
      height: auto !important;
    }
  
    .ui-grid-row div[role=row] {
      display: flex;
      align-content: stretch;
    }
  </style> -->