<div class="container-fluid">
  <div class="card-content">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="purple">
        <i class="material-icons">assignment</i>
      </div>
      <div class="card-content">
        <h4 class="card-title">Pending transactions</h4>
        <div class="toolbar">
          <!--        Here you can write extra buttons/actions for the toolbar              -->
        </div>
        <div>


          <div style="text-align: center;">
            <h3>
              {{'Total transactions : ' + transactions.length}}
            </h3>
          </div>

          <div class="row" style="margin-left: 10px">
            Order ID :
            <input ng-model="orderID" style="width: 100px" type="text" />
            <select ng-options="item for item in ['delivered', 'bad_order', 'canceled']" ng-model="status">
              <option value="" selected disabled>Select a status</option>
            </select>
            <button type="button" class="btn btn-default btn-sm" ng-click="updateStatus()">
              <i class="fa fa-bolt"></i>
              update
            </button>

          </div>

          <div ng-if="transactions" ui-grid="gridOptions" style="height: calc(93vh - 215px)"></div>

        </div>
      </div>
      <!-- end content-->
    </div>
  </div>
</div>

<!-- <style>
    .ui-grid-viewport .ui-grid-cell-contents {
      word-wrap: break-word;
      white-space: normal !important;
    }
  
    .ui-grid-row,
    .ui-grid-cell {
      height: auto !important;
    }
  
    .ui-grid-row div[role=row] {
      display: flex;
      align-content: stretch;
    }
  </style> -->